.commentedSession-List{
	margin-left:2rem;
	margin-right:4rem;
}
.ssmsCommentedSession{
	margin-left:4rem;
}
.ssmsCommentedSession-header{
	border-bottom:0px;
}
.ssmsCommentedSession-color{
    color: #0099CC;	
}
.ssmsCommentedSession .sapMBtnIcon{
    color: #0099CC ;
    font-size: 2rem;
}
.ssmsCommentedSession .sapMNLI-None{
    background-color: #FFFFFF ;
}
.ssmsCommentedSession .sapMNLI-Header>.sapMText {
    margin-bottom: 0rem;
    color: #0099CC;
}