html.sap-desktop .sapMBtn:focus>.sapMFocusable {
	outline: none;
}

.sapUiView.sapUiXMLView {
	background-color: #fff;
}

.ssmsHeader {
	background-color: #0099CC;
	border-bottom: none;
}

.ssmsSearchField .sapMSFF {
	border-radius: 5px;
}

.ssmsEmphasizedButton > .sapMBtnInner.sapMBtnEmphasized {
    background-color: #0099CC;
    border: none;
}

.ssmsLabel { 
	font-size: 1.5rem;
	text-align: center !important;
	color: #0099CC;
}