/* Enter your custom styles here */
.ssmsHome-Panel {
    display: table;
	background-color: #0099CC;
	color: white;
	text-align: center;
	height: 50% !important;
}

.ssmsHome-Panel .sapMPanelContent {
    display: table-cell;
    vertical-align: middle;
}

.ssmsHome-Panel-Title {
	font-size: 2.5rem !important;
	color: white !important;
}

.ssmsHome-Panel-Description {
    margin: 2%;
}

.ssmsHome-Panel-SearchField {
	margin: auto;
}

.ssmsHome-ContentBox {
	width: 28rem;
	height: 10rem;
	text-align: center;
}

.ssmsHome-ContentBox-Image {
	cursor: pointer;
}

.ssmsHome-ContentBox-Background {
	background-color: #eeefff;
	cursor: pointer;
}

.ssmsHome-ContentBox-Background-Label {
	cursor: pointer;
}

.ssmsHome-ContentBox-Background-Text {
	cursor: pointer;
}