/* Enter your custom styles here */
.ssmsHome-Header {
	background-color: #0099CC !important;
	border-bottom: none !important;
}

.ssmsHome-Header-Button .sapMBtnContent {
	color: white !important;
}

.ssmsHome-Header-Button .sapUiIcon {
	color: white !important;
}

.ssmsHome-Panel {
    display: table;
	background-color: #0099CC;
	color: white;
	text-align: center;
	height: 50% !important;
}

.ssmsHome-Panel .sapMPanelContent {
    display: table-cell;
    vertical-align: middle;
}

.ssmsHome-Panel-Title {
	font-size: 2.5rem !important;
	color: white !important;
}

.ssmsHome-Panel-Description {
    margin: 2%;
}

.ssmsHome-Panel-SearchField {
	margin: auto;
}

.ssmsHome-Panel-SearchField .sapMSFF {
	border-radius: 5px;
}