.ssmsOwnedSession-IconTabBar .sapMITBAll .sapMITBCount {
    font-size: 2.5rem ;
}
.ssmsOwnedSession-IconTabBar .sapMITBAll .sapMITBText{
    padding-top: 1rem;
}
.ssmsColorChangingText .sapMObjectNumberStatusWarning {
	 color: red;
}
.ssmsColorChangingText .sapMObjectNumberStatusError {
	 color: gray;
}
.ssmsColorChangingText .sapMObjectNumberStatusNone {
	 color: yellow;
}
.ssmsColorChangingText .sapMObjectNumberStatusSuccess {
	 color: green;
}
.ssmsOwnedSession-Paginator{
 margin-left: 35rem;	
}