.ssmsPersonalCenter-personalInfo{
    width: 16rem;
    height: 31.7rem;
    margin-left: 3rem;
    margin-top: 2.5rem;
    margin-right: 10.5rem;
    background-color: rgba(255,255, 255, 0.6);
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-left: 3rem;
    border:1px solid #0099cc;
    border-radius:10px;
}
.ssmsPersonalCenter-personalInfo-name{
	font-size: 2rem ;
	color:#0099cc;
    font-family: Arial,Helvetica,sans-serif;
    line-height: normal;
    padding-bottom: 1rem;
}
.ssmsPersonalCenter-personalInfo-common{
	 padding-bottom: 2rem ;
}
.ssmsPersonalCenter-sessions{
    margin-right: 5rem;
}
.ssmsPersonalCenter-create{
     margin-bottom: 3rem;
    
}
.ssmsPersonalCenter-common{
     background-color: rgba(255,255,255,0.6);
     border-radius: 10px;
     width:16rem;
     height:14rem;
     box-shadow: 10px 10px 3px rgba(0,153,254,0.15);
}