.ssmsSessionDetail_Grid {
    line-height: 30px;
}
.ssmsSessionDetail_Grid Label {
    display: block;
}
.ssmsSessionDetail_Grid Input {
    margin-top: -2px;
    margin-bottom: 0;
}
.ssmsSessionDetail_Grid Select {
    margin-top: -2px;
    margin-bottom: 0;
}
.ssmsSessionDetail_Grid_RadioButtonGroup {
    margin-top: -5px;
    margin-left: -5px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.ssmsYellowFont {
    color: yellow;
}
.ssmsRedFont {
    color: red;
}
.ssmsGreenFont {
    color: green;
}
.ssmsGrayFont {
    color: gray;
}
.ssmsfailure {
    text-decoration: line-through;
}