/* Enter your custom styles here */
.header {
	background-color: #0099CC !important;
	border-bottom: none !important;
}

.button .sapMBtnContent {
	color: white !important;
}

.button .sapUiIcon {
	color: white !important;
}

.panel {
    display: table;
	background-color: #0099CC;
	color: white;
	text-align: center;
	height: 50% !important;
}

.panel .sapMPanelContent {
    display: table-cell;
    vertical-align: middle;
}

.title {
	font-size: 2.5rem !important;
	color: white !important;
}

.description {
    margin: 2%;
}

.search {
	margin: auto;
}

.search .sapMSFF {
	border-radius: 5px;
}